@import "../functions/math";
@import "../options/variables";
@import "../templates/popup";

.auth-popup {
  @include mainBlock;

  &__title {
    @include headerTitle;
  }

  &__header {
    @include header;
  }

  &__layout {
    @include layout;
  }

  &__inner-layout {
    display: flex;
    flex-direction: column;
    gap: $main-offset/2;
  }

  &__input {
    @include input;
  }

  &__button {
    @include button;
  }

  &__close {
    @include hideButton;
  }

  &__error {
    @include error;
  }

  &__info {
    @include info;
  }
}