@import "../functions/math";

$main-color: #2A9D8F;
$main-color-dark: #194741;
$main-offset: px2rem(20px);
$main-border-color: #E6E6E6;
$header-bg-color: #292929;
$navigation-bg-color: #232323;
$default-button-color: #F7F7F7;
$default-button-border-color: #7b7b7b;